language: python
python:
  - "3.7-dev"
# command to install dependencies
install:
  - pip3 install -r docker/local/py-libs.txt
# command to run tests
script:
  - flake8 py
  - cd py; python -m unittest
