{% extends "_default.html" %}

{% block title %}Login or Register{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6 col-sm-12 offset-lg-3 text-center">
    <h1>Welcome, Friend!</h1>
    <form id="login-form" action="{{ url_for('users.login_form') }}" method="POST">
      <div class="form-group">
        <input type="text" name="username" class="form-control" placeholder="your username">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="password">
      </div>
      <div id="http-warning" class="text-success" style="display:none">
        Hey! Wait a second! You are browsing this site via <b>plain HTTP</b>, it's Ok.<br/>
        But if possible, switch to <b>secure HTTPS</b> before login!
        (<a href="{{ url_for('users.login_page', _scheme='https', _external=True) }}">this link</a>)<br/>
        <span class="small">Why so? Read short "programmer's view"
          <a href="{{ url_for('tools.wiki_view', pageid='on-https') }}" target="_blank">explanation</a>
          about HTTPS.</span>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
      <div id="error-login" class="invalid-feedback"></div>
      <br/><hr/><br/>
      <h3>first time here?</h3>
      <p>fill in these additional fields to register</p>
      <div class="form-group">
        <input type="password" name="password2" class="form-control" placeholder="repeat password">
      </div>
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="email">
      </div>
      <button type="submit" class="btn">Register</button>
      <div id="error-register" class="invalid-feedback"></div>
    </form>
  </div>
</div>
{% endblock %}

{% block more_scripts %}
<script>
$(function() {
    var form = $('#login-form');
    
    checkHttps();

    form.submit(function(e) {
        if (!usernameIsValid() || !passwordIsValid() || !registerIsValid()) {
            console.log('preventing');
            e.preventDefault();
        }
        form.addClass('was-validated');
    });
    
    $('input').change(function(event) {
        event.target.setCustomValidity('');
    });
    
    function usernameIsValid() {
        var usernameInput = $('input[name=username]');
        var username = usernameInput.val();
        var error = '';
        if (username.length < 4) {
            error = 'Username too short';
        } else if (username.length > 32) {
            error = 'Username too long';
        } else if (!/[a-z0-9\.\-\_]+/.test(username)) {
            error = 'Username may contain letters, digits, dots, dashes and underscore';
        }
        showError($('#error-login'), error);
        usernameInput.get(0).setCustomValidity(error);
        return error === '';
    }
    
    function passwordIsValid() {
        var passwordInput = $('input[name=password]');
        var password = passwordInput.val();
        var error = '';
        var passPattern = /^[A-Za-z0-9\-\.\!\@\#\$\%\^\&\*\(\)\_]+$/;
        if (password.length < 7) {
            error = 'Password must be at minimum 7 characters';
        } else if (!passPattern.test(password)){
            error = 'Password may contain letters, digits and some punctuation';
        }
        showError($('#error-login'), error);
        passwordInput.get(0).setCustomValidity(error);
        return error === '';
    }

    function password2IsValid(password2Input){
        var password = $('input[name=password]').val();
        var password2 = password2Input.val();
        var error = '';
        if(password !== password2){
            error = 'Repeat password must match password';
        }
        showError($('#error-register'), error);
        password2Input.get(0).setCustomValidity(error);
        return error === '';
    }
    
    function emailIsValid(emailInput) {
        var email = emailInput.val();
        var mail_pattern=/^\S+\@\S+\.\S+$/;
        var error = '';
        if(!mail_pattern.test(email)){
            error = 'Email probably is malformed';
        }
        showError($('#error-register'), error);
        emailInput.get(0).setCustomValidity(error);
        return error === '';
    }

    function registerIsValid(){
        var password2Input = $('input[name=password2]');
        var emailInput = $('input[name=email]');
        if(password2Input.val().length > 0 || emailInput.val().length > 0){
            return password2IsValid(password2Input) && emailIsValid(emailInput)
        }
        return true;
    }
    
    function showError(field, error) {
        if (error !== '') {
            field.show().text(error);
        } else {
            field.hide();
        }
    }

    function checkHttps() {
        if (location.protocol == 'http:') {
            $('#http-warning').show(300);
        }
    }
});
</script>
{% endblock %}

