h1 {
    margin-top: 1.5rem !important;
}

.red {
    color: #ff0000;
}

.green {
    color: #00cc00;
}

.text-muted a {
    color: #888;
}

.navbar {
    background: #e4eeff;
    border-top: 1px solid #bbd;
    border-bottom: 1px solid #bbd;
}

.navbar a {
    color: #080;
    padding: 4px;
    border-radius: 5px;
}

.navbar a:hover {
    color: #f55;
}

.navbar-toggler {
    color: #080;
}

.cat-tile {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.cat-tile .hint {
    text-align: right;
}

.cat-tile .tiny-descr {
    font-size: 85%;
    height: 3rem;
    overflow: hidden;
}

h1.main-hidden {
    font-size: 1rem;
    color: white;
    margin-top: 0px !important;
    margin-bottom: 0px;
}

.centered { text-align: center; }
.hint { color: #777; font-style: italic; }
em { color: #668; font-family: comic sans, cursive; }
pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
code, pre code {
    color: #907;
    font-size: 1.2rem !important;
    font-weight: bold;
    font-family: monospace;
    padding: 2px;
    border-radius: 2px;
}
pre code {
    display: block;
    background: #def;
    border-radius: 0px;
    border: 1px solid #aae;
    padding: 5px;
    margin: 0px 50px;
    text-align: left;
}

