{% extends "_default.html" %}

{% block title %} View or update Blobs {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>View or update Blobs</h1>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-6">
    <input id="blob-id" class="form-control" placeholder="Blob ID"/>
  </div>
  <div class="col-lg-6 text-right">
    <button id="btn-load" class="btn">Load</button>
    <button id="btn-save" class="btn">Save</button>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-12">
    <textarea id="blob-text" style="height:500px;font-family:monospace;" class="form-control"></textarea>
  </div>
</div>
{% endblock %}

{% block more_scripts %}

<script>

$(function() {
    function urlForBlob() {
        return location.href + '/' + $('#blob-id').val();
    }
    
    function errorResponse(data) {
        alert('Error: ' + data.status);
    }
    
    $('#btn-load').click(function() {
        $.ajax({
            type: 'GET',
            url: urlForBlob(),
            success: function(data, s, jqh) {
                if (jqh.status != 204) {
                    $('#blob-text').val(data);
                } else {
                    alert('No such blob!');
                }
            },
            error: errorResponse,
        });
    });
    
    $('#btn-save').click(function() {
        $.ajax({
            type: 'POST',
            url: urlForBlob(),
            data: $('#blob-text').val(),
            contentType: 'text/plain',
            success: function() {
                alert('Success!');
            },
            error: errorResponse,
        });
    });
});

</script>

{% endblock %}
