<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="{{ robots }}">
    {% block metas %}{% endblock %}
    <title>{% block title %}{% endblock %} - {{ sitename }}</title>
    <link href="{{ url_for('static', filename = 'css/bs.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/common.css', r=stat_ts) }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>

  <body>

    <nav class="navbar navbar-expand-md static-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main_page') }}">{{ sitename }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span>(^.,.^)</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tasks.task_list') }}">Problems</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('users.ranking') }}">Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tools.wiki_view', pageid='help') }}">Help</a>
            </li>
            <li class="nav-item">
              {% if not 'username' in session %}
              <a class="nav-link" href="{{ url_for('users.login_page') }}">Login</a>
              {% else %}
              <a class="nav-link" href="{{ url_for('users.dashboard') }}">{{ session['username'] }}</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="container">
        {% for message in messages %}
        <div class="alert alert-warning alert-autohide" role="alert">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center text-muted">
          <hr/>
          <a href="https://github.com/CodeAbbey/abbey2/graphs/contributors">
            (c) 2018, Rodion Gorkovenko with the help of all <b>CodeAbbey community</b>
          </a>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename = 'js/jq.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bs.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/main.js', r=stat_ts) }}"></script>
    {% block more_scripts %}
    {% endblock %}
    
  </body>

</html>

