{% extends "_default.html" %}

{% block title %}Main Page{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Coming Soon</h1>
    <p class="lead">Let's build a new site here!</p>
    <p class="lead">Ongoing activities:</p>
    <p class="green">add problems list and view pages</p>
    <p class="green">add login form</p>
    <p class="red">connect database</p>
    <p class="red">make tasks being loaded from db</p>
    <p class="red">users from database, plus registration</p>
    <p class="red">tasks checking</p>
    <p class="red">store tasks progress</p>
    <p class="red">improve style to resemble existing colors</p>
    <p class="red">implement basic ranking / rating</p>
    <p class="red">setup and deploy to real hosting</p>
    <p class="red">help / wiki pages</p>
  </div>
</div>
{% endblock %}

