<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Abbey2</title>
    <link href="./s/css/bs.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Abbey2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Problems</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Coming Soon</h1>
          <p class="lead">Let's build a new site here!</p>
        </div>
      </div>
    </div>

    <script src="./s/js/jq.js"></script>
    <script src="./s/js/bs.js"></script>

  </body>

</html>

