{% extends "_default.html" %}

{% block title %}Submission Result{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>Submission Result</h1>
    {% if result.status %}
    <p class="green">Your answer is correct, congratulations!</p>
    {% else %}
    <p class="red">Your answer is wrong, sorry...</p>
      {% if result.type == 'plain' %}
      <p>You replied with:</p>
      <pre>{{ result.answer }}</pre>
      <p>And expected was:</p>
      <pre>{{ result.expected }}</pre>
      {% elif result.type == 'quiz' %}
      <p>Hint: your answer is great but needs to be {{ result.hint }}% more correct to pass :)</p>
      {% endif %}
    {% endif %}
    <a href="javascript:history.go(-1);">Try Again</a>
  </div>
</div>
{% endblock %}
