{% extends "_default.html" %}

{% block title %}Submission Result{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1>Submission Result</h1>
    {% if result.status and not result.timeout %}
    <p class="green">Your answer is correct, congratulations!</p>
    {% else %}
      {% if not result.timeout %}
      <p class="red">Your answer is wrong, sorry...</p>
      {% else %}
      <p class="red">Regretfully you missed the time limit of {{ result.timeout }}</p>
      {% endif %}
      {% if result.type == 'plain' %}
      <p>You replied with:</p>
      <pre>{{ result.answer }}</pre>
      <p>And expected was:</p>
      <pre>{{ result.expected }}</pre>
      {% elif result.type == 'quiz' %}
      <p>Hint: your answer is great but needs to be {{ result.hint }}% more correct to pass :)</p>
      {% endif %}
    {% endif %}
    <p>
      <a href="{{ url_for('tasks.task_view', id=result.taskid) }}">Try Again</a>
      /
      <a href="{{ url_for('tasks.task_view', id=result.catid) }}">All problems in this Volume</a>
      /
      <a href="{{ url_for('tasks.task_list') }}">All Volumes List</a>
    </p>
    {% if result.status and not result.timeout and result.expl %}
      <h3>Explanations</h3>
      {{ result.expl | safe }}
    {% endif %}
  </div>
</div>
{% endblock %}
