{% extends "_default.html" %}

{% block title %}View Task {{ data['title'] }} {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1> {{ data['title'] }} </h1>
    {{ data['text'] | safe }}
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    {% if not session['username'] %}
    <span class="red">You need to login to get test data and submit solution...</span>
    {% elif not test %}
    <span class="green">No checker for this task... strange... :)</span>
    {% elif test[0] == 'plain' %}
    <form action="{{ url_for('tasks.task_check') }}" method="POST">
      <div class="form-group">
        <textarea name="inputdata" class="form-control" rows="10">{{ test[1] | safe }}</textarea>
      </div>
      <div class="form-group">
        <input type="text" name="answer" class="form-control" placeholder="your answer here">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% elif test[0] == 'quiz' %}
      {% for q in test[1] %}
      <div>{{ q['q'] }}
        {% for a in q['items'] %}
          <br/>
          - {{ a }}
        {% endfor %}
      </div>
      {% endfor %}
    {% else %}
    <span class="green">Checker of unknown type... strange... :)</span>
    {% endif %}
  </div>
</div>
{% endblock %}

