{% extends "_default.html" %}

{% block title %}View Task {{ data['title'] }} {% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12">
    <h1> {{ data['title'] }} </h1>
    {{ data['text'] | safe }}
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    {% if not session['username'] %}
    <span class="red">You need to login to get test data and submit solution...</span>
    {% elif not test %}
    <span class="green">No checker for this task... strange... :)</span>
    {% else %}
    <form action="{{ url_for('tasks.task_check') }}" method="POST">
      {% if test[0] == 'plain' %}
      <div class="form-group">
        <label for="inputdata">Input Data:</label>
        <textarea id="inputdata" name="inputdata" class="form-control" rows="10">{{ test[1] | safe }}</textarea>
      </div>
      <div class="form-group">
        <label for="answer">Your Answer:</label>
        <input type="text" id="answer" name="answer" class="form-control" placeholder="your answer here">
      </div>
      {% elif test[0] == 'quiz' %}
      {% for q in test[1] %}
      <div>{{ q['q'] }}
        <ul>
        {% for a in q['items'] %}
          <li><input name="{{ a.id }}" type="checkbox"/> <label for="{{ a.id }}">{{ a.text }}</label></li>
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
      {% else %}
      <span class="green">Checker of unknown type... strange... :)</span>
      {% endif %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      {% if test[0] == 'plain' %}
      <div class="form-group">
        <label for="solution">Please, post Your code here:</label>
        <textarea id="solution" name="solution" class="form-control" rows="10"></textarea>
      </div>
      {% endif %}
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}

